@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 209 48% 14%;
    --card: 0 0% 97%;
    --card-foreground: 209 48% 14%;
    --popover: 0 0% 97%;
    --popover-foreground: 209 48% 14%;
    --primary: 249 89% 73%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 48% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 90%;
    --muted-foreground: 209 48% 34%;
    --accent: 156 79% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 249 89% 73%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 209 48% 14%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-primary: 249 89% 73%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 209 48% 24%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 209 48% 20%;
    --sidebar-ring: 249 89% 73%;
  }
  .dark {
    --background: 209 48% 8%;
    --foreground: 0 0% 95%;
    --card: 209 48% 14%;
    --card-foreground: 0 0% 95%;
    --popover: 209 48% 14%;
    --popover-foreground: 0 0% 95%;
    --primary: 249 89% 73%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 48% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 209 48% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 156 79% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 209 48% 20%;
    --input: 209 48% 20%;
    --ring: 249 89% 73%;

    --sidebar-background: 209 48% 14%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-primary: 249 89% 73%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 209 48% 24%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 209 48% 20%;
    --sidebar-ring: 249 89% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
